:root {
  font-size: 100%;
  --primary-color: #f8f8f8;
  --primary-nav-border-color: #bdc6f7;
  --dark-color: #282a36;
  --dark-light-color: #898c9c99;
  --dark-hover-color: #c5c5c5;
  --accent1-color: #5c6bc0;
  --accent1-light-color: #8b9cff;
  --accent2-color: #f2c029;
  --selection-color: #a0a0a075;
  --project-color: #ffffff;
  --border-radius: 4px;
  --box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11);

  font-family: "PT Sans", sans-serif, -apple-system, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

[data-theme="dark"] {
  --primary-color: #282a36;
  --primary-nav-color: #25273188;
  --primary-nav-border-color: #5c6bc0;
  --dark-color: #f8f8f8;
  --dark-hover-color: #677194;
  --selection-color: #e7e7e73d;
  --project-color: #ffffff11;
  --box-shadow: none;
}

::-moz-selection {
  /* Code for Firefox */
  /* color: var(--primary-color); */
  background: var(--selection-color);
  border-radius: 12px;
}

::selection {
  /* color: var(--primary-color); */
  background: var(--selection-color);
  border-radius: 12px;
}

* {
  transition: background-color 0.3s, color 0.3s;
}

html,
body {
  background-color: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--dark-color);
  min-height: 100vh;
}
button {
  all: none;
  all: unset;
  cursor: pointer;
  /* border-radius: 0.25vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-color);
}

a:focus,
button:focus,
button:nth-child(1):focus {
  box-shadow: 0 0 0 2px var(--primary-color), 0 0 0 4px var(--dark-color),
    inset 0 0 0 1px var(--primary-color);
  background-color: #00000010;
}

h1 {
  font-family: "Montserrat", sans-serif, -apple-system, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 4.5rem;
  margin: 1.5rem 0;
  color: var(--dark-color);
}
h2 {
  font-family: "Montserrat", sans-serif, -apple-system, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 3rem;
  margin: 1.5rem 0;
  color: var(--dark-color);
}
h3 {
  font-family: "Montserrat", sans-serif, -apple-system, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.5rem;
  margin: 0;
  color: var(--dark-color);
}
p {
  font-family: "PT Sans", sans-serif, -apple-system, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.25rem;
  margin: 1.5rem 0;
  color: var(--dark-color);
  letter-spacing: 0.4px;
}

hr {
  border: 0;
  height: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

img {
}
