:root {
  font-size: 100%;
  --primary-color: #f8f8f8;
  --dark-color: #293462;
  --dark-hover-color: #677194;
  --accent1-color: #216583;
  --accent1-light-color: #42c9ff;
  --accent2-color: #f76262;
  --border-radius: 4px;
  --box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--primary-color);
  background: var(--dark-color);
}

::selection {
  color: var(--primary-color);
  background: var(--dark-color);
}

html,
body {
  background-color: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--dark-color);
  min-height: 100vh;
  font-family: "PT Sans", sans-serif, -apple-system, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
button {
  all: none;
  all: unset;
  cursor: pointer;
  /* border-radius: 0.25vw; */
  display: flex;
  align-items: center;
  justify-content: center;
}

a:focus,
button:focus,
button:nth-child(1):focus {
  box-shadow: 0 0 0 2px var(--primary-color), 0 0 0 4px var(--dark-color),
    inset 0 0 0 1px var(--primary-color);
  background-color: #00000010;
}

h1 {
  font-size: 4.5rem;
  margin: 1.5rem 0;
}
h2 {
  font-size: 3rem;
  margin: 1.5vw 0;
}
h3 {
  font-size: 2.5rem;
  margin: 1.5vw 0;
}
p {
  font-size: 1.25rem;
  margin: 1.5vw 0;
}

hr {
  border: 0;
  height: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

img {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
