.container {
  background-color: var(--primary-color);
  padding: 0 4rem;
}

.flex {
  display: fiex;
}

.nav {
  background-color: var(--primary-color);
  height: 2rem;
  display: flex;
  padding: 1rem 4rem;
  justify-content: space-between;
}

.brand {
  font-size: 1.5rem;
  font-weight: 900;
}

.navBtnGroup {
  display: flex;
}

.navBtn {
  display: flex;
  justify-content: center;
  width: 6rem;
  font-size: 1.25rem;
}

.navBtn button {
  margin: auto;
}

.themeBtnContainer {
  background-color: var(--dark-color);
  color: var(--primary-color);
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
  margin: auto 0;
  right: 4rem;
  position: fixed;
  border-radius: 4px;
  align-items: center;
  transition: background-color 0.3s;
}

.themeBtnContainer:hover {
  background-color: var(--dark-hover-color);
}

.themeBtn {
  font-weight: bolder;
  width: 100%;
  height: 100%;
}

.main {
  padding-top: 8rem;
  top: 8.25rem;
}

.article1 {
  margin-bottom: 9.25rem;
}

.greetings {
  width: 60%;
}

.title h1 {
  display: inline-block;
}

@keyframes shine {
  to {
    background-position: 400% center;
  }
}
.meng {
  color: var(--accent2-color);
  background-clip: text;
  background: linear-gradient(
    90deg,
    rgba(247, 98, 98, 1) 0%,
    rgba(247, 108, 98, 1) 17%,
    rgba(247, 128, 98, 1) 34%,
    rgba(247, 148, 98, 1) 51%,
    rgba(247, 128, 98, 1) 68%,
    rgba(247, 108, 98, 1) 85%,
    rgba(247, 98, 98, 1) 100%
  );
  background-size: 400% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 18s linear infinite;
}

.meng::selection {
  -webkit-text-fill-color: var(--primary-color);
}
.meng::-moz-selection {
  -webkit-text-fill-color: var(--primary-color);
}

.intro {
  margin: 0;
}

.article2 {
  margin-bottom: 9.25vw;
}
