.container {
  padding: 0 16rem;
}

.flex {
  display: flex;
}

.nav {
  background-color: var(--primary-nav-color);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  border-bottom: solid 1px var(--primary-nav-border-color);
}

.navBtnContainer {
  position: relative;
  display: flex;
  margin: 1rem 16rem;
  justify-content: space-between;
  width: auto;
  height: 2rem;
}

.brand {
  font-size: 1.5rem;
  font-weight: 900;
}

.navBtnGroup {
  display: flex;
  margin-right: 4rem;
}

.navBtn {
  display: flex;
  justify-content: center;
  width: 6rem;
  font-size: 1rem;
  font-weight: 600;
}

.navBtn button {
  margin: auto;
}

.themeBtnContainer {
  background-color: var(--primary-color);
  color: var(--dark-color);
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
  margin: auto 0;
  /* right: 16rem; */
  /* position: fixed; */
  box-shadow: inset 0 0 0 2px var(--dark-color);
  border-radius: var(--border-radius);
  align-items: center;
  transition: background-color 0.3s !important;
}

.themeBtnContainer:hover {
  background-color: var(--dark-hover-color);
}

.themeBtn {
  font-weight: bolder;
  width: 100%;
  height: 100%;
}

.main {
  background-color: var(--primary-color);
}

.hero {
  padding: 8rem 0 4rem 0;
  background-color: var(--primary-color);
}

.hero .greetings {
  display: flex;
  flex-direction: column;
}

.hero .title h1 {
  display: inline-block;
}

.hero .intro {
  width: 64%;
  color: var(--dark-color);
  font-size: 1.5rem;
}

@keyframes shine {
  to {
    background-position: 400% center;
  }
}
.hero .meng {
  color: var(--accent2-color);
  background-clip: text;
  background: linear-gradient(
    90deg,
    rgba(247, 98, 98, 1) 0%,
    rgba(247, 108, 98, 1) 17%,
    rgba(247, 128, 98, 1) 34%,
    rgba(247, 148, 98, 1) 51%,
    rgba(247, 128, 98, 1) 68%,
    rgba(247, 108, 98, 1) 85%,
    rgba(247, 98, 98, 1) 100%
  );
  background-size: 400% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 18s linear infinite;
}

.hero .meng::selection {
  -webkit-text-fill-color: var(--accent1-light-color);
}
.hero .meng::-moz-selection {
  -webkit-text-fill-color: var(--accent1-light-color);
}

.hero .intro {
  margin: 0;
}

.project {
  padding: 2rem 0;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: center;
}

.project img {
  width: 100%;
  height: auto;
}

.project1 {
  border-radius: var(--border-radius);
}

.project2 {
  border-radius: 5px;
}
.project3 {
  border-radius: 5px;
}
.project4 {
  border-radius: 5px;
}

.stacksksWrapper {
  display: grid;
  grid-template-columns: 1fr 7fr;
}
.stacksksWrapper ion-icon,
.stacksksWrapper svg {
  fill: var(--dark-color);

  font-size: 3rem;
  margin: auto 0;
}
.stacksksWrapper svg {
  width: 3rem;
  height: auto;
}

.svg {
  position: absolute;
  z-index: -1;
  fill: var(--dark-color);
}
