.container {
  background-color: var(--primary-color);
  padding: 0 4rem;
}

.flex {
  display: fiex;
}

.nav {
  background-color: var(--primary-color);
  height: 2rem;
  display: flex;
  padding: 1rem 4rem;
  justify-content: space-between;
}

.brand {
  font-size: 1.5rem;
  font-weight: 900;
}

.navBtnGroup {
  display: flex;
}

.navBtn {
  display: flex;
  justify-content: center;
  width: 6rem;
  font-size: 1.25rem;
}

.navBtn button {
  margin: auto;
}

.themeBtnContainer {
  background-color: var(--dark-color);
  color: var(--primary-color);
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
  margin: auto 0;
  right: 4rem;
  position: fixed;
  border-radius: 4px;
  align-items: center;
  transition: background-color 0.3s;
}

.themeBtnContainer:hover {
  background-color: var(--dark-hover-color);
}

.themeBtn {
  font-weight: bolder;
  width: 100%;
  height: 100%;
}

.main {
  padding-top: 8rem;
  top: 8.25rem;
}

.article1 {
  margin-bottom: 9.25rem;
}

.greetings {
  width: 60%;
}

.title h1 {
  display: inline-block;
}

.meng {
  color: var(--accent2-color);
}

.intro {
  margin: 0;
}

.article2 {
  margin-bottom: 9.25vw;
}
