.project {
  display: flex;
  flex-direction: column;
  border-radius: calc(var(--border-radius) * 2);
  background: var(--project-color);
  box-shadow: var(--box-shadow);
  transition: all 0.2s;
  overflow: hidden;
}



.project img {
  width: 100%;
  padding: auto;
  aspect-ratio: 1.451/1;
  border-radius: calc(var(--border-radius) * 2) calc(var(--border-radius) * 2) 0
    0;
  transition: all 0.2s ease;

}

.project img:hover {
  transform: scale(1.02);
}

.project .contextcontainer {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  height: 100%;
}
.chakra-modal__content{
  background: var(--project-color) !important;
}

.contextheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contextbody {
  margin-bottom: 4rem;
}

.contextbtngroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.75rem;
  width: auto;
  max-height: 2rem;
}

/* .contextbtngroup .break {
  border-right: 2px solid var(--accent1-color);
  margin: 0.6rem 0.25rem;
} */

.contextbtngroup button {
  /* margin: auto 0.25em; */
  width: 2rem;
  height: 2rem;
  color: var(--accent1-color);
  border-radius: var(--border-radius);
  transition: background-color 0.3s !important;
}

.contextbtngroup button:hover {
  background-color: var(--dark-hover-color);
}

.projectfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
}

.projectyear {
  margin: 0 !important;
}

.stacksWrapper {
  display: flex;
}

.stacksWrapper ion-icon,
.stacksWrapper svg {
  fill: var(--dark-light-color);
  font-size: 1.5rem;
  margin: auto 0;
}
.stacksWrapper svg {
  width: 1.5rem;
  height: auto;
}

.stacksWrapper div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.svg {
  display: none;
}

.about {
  padding: 8rem 0 4rem 0;
}

@media (pointer: coarse) {
  .project:hover,
  .project:focus-within {
    margin: unset;
  }
}
